<%- include("./partials/header") %>
<div id="titulo">
    <h1>Pagina Inicial</h1>
</div>
<hr>
<div id="titulo">
    <a href="/otherPage"><button>Pagina 2</button></a>
</div>
<%- include("./partials/footer") %>